<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Temprature</title>
</head>
<body>
    <div>
        <h1 style="text-align:center">Weather Application</h1>
    </div>
<div>

    <h3>Sachin Yadav</h3>
    <a style="float:right" href="/logout">LOGOUT</a>
</div>

<div>
    <input type="text" placeholder="eg. jaipur" required>
    <input type="submit" value="Add City">
</div>

<div style="border: 2px solid salmon;display: inline-block;">
    <img style="margin:0px;padding: 0px;" src="https://openweathermap.org/img/wn/10d@2x.png">
    <h3 style="margin:0px; padding: 0px;"> जयपुर, 28°C</h3>
    <h4 style="margin:0px; padding: 0px;">Raining</h4>
    <button style="border: 2px solid black"><a href="/delete/jaipur">Delete</a></button>
</div>

</body>
</html>