<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <h1 style="text-align:center">Weather Application</h1>
    </div>

    <div>
    <!-- Jinja Templating Engine is used to pass data from python script to templates HTML {} -> Jinja Syntax  -->
    {% for message in get_flashed_messages() %}

        <h5 style="color:red"> {{ message }}</h5>
    
    {% endfor %}
</div>
    <div>
        <h3>Please Login to use Weather Application!</h3>

        <form method="POST" action="/mk_login">
            <input type="text" placeholder="username" name="username" required>
            <input type="password" placeholder="password" name="password" required>
            <input type="submit" value="SignIn">
        </form>
        <a href="/signup">click here to signup!</a>
    </div>
</body>
</html>