<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <h1 style="text-align:center">Weather Application</h1>
    </div>

    <div>
        <h3>Please Fill In Following Details To Create an Account!</h3>

        <form>
            <div>
                <label>First Name: <input type="text" placeholder="eg. sachin" required></label>
            </div>
            <div>
                <label>Last Name: <input type="text" placeholder="eg. yadav" required></label>
            </div>
            <div>
                <label>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" placeholder="eg. sachinyadav3496@gmail.com" required></label>
            </div>

            <div>
                <label>Username: &nbsp;<input type="text" placeholder="eg. sachinyadav3496" required></label>
            </div>
            <div>
                <label>Password: &nbsp;&nbsp;<input type="password" placeholder="eg. Abcd!@123" required></label>
            </div>
            <div>
                <label><input type="submit" value="SignUP">&nbsp;&nbsp;&nbsp;<a href="/">click here to login!</a></label>
            </div>
        </form>
        
    </div>
</body>
</html>