<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/data">Data</a>
        </nav>
    </div>

    <div>
        <h2>Welcome to First HTML PAGE rendered by Flask using Jinja2</h2>

        <h3>Please Login!</h3>
        <form>
            <label>Username: <input type='text'></label>
            <label>Password: <input type='password'></label>
            <input type="submit">
        </form>
    </div>
</body>
</html>